# ==============================================================================
#  Save a copy of this file named `.env`
# ==============================================================================

DEPLOYER_ADDRESS="<wallet signing address, add to cast wallet first>"

# BLOCKCHAIN RPC PROVIDERS
ETHEREUM_RPC="https://mainnet.infura.io/v3/"
SEPOLIA_RPC="https://ethereum-sepolia.publicnode.com"
POLYGON_RPC="https://polygon-rpc.com"
XAI_MAINNET_RPC="https://xai-chain.net/rpc"
XAI_SEPOLIA_RPC="https://testnet-v2.xai-chain.net/rpc"
ARB_SEPOLIA_RPC="https://sepolia-rollup.arbitrum.io/rpc"

# BLOCK EXPLORER API KEYS
ETHERSCAN_API_KEY="<ETHERSCAN_API_KEY>"
SEPOLIASCAN_API_KEY="<SEPOLIASCAN_API_KEY>"
POLYGONSCAN_API_KEY="<POLYGONSCAN_API_KEY>"
XAI_BLOCKSCOUT_API_KEY="<XAI_BLOCKSCOUT_API_KEY>"
XAI_SEPOLIA_BLOCKSCOUT_API_KEY="<XAI_SEPOLIA_BLOCKSCOUT_API_KEY>"
ARBITRUM_SEPOLIA_API_KEY="<ARBITRUM_SEPOLIA_API_KEY>"

# PRE-DEPLOYED FACETS - clear
DIAMOND_CUT_FACET=""
DIAMOND_LOUPE_FACET=""
DIAMOND_PROXY_FACET=""
DIAMOND_OWNER_FACET=""
SUPPORTS_INTERFACE_FACET=""
DUMMY_INTERFACE_CONTRACT=""

# PRE-DEPLOYED FACETS - Xai Sepolia chainId 37714555429
# DIAMOND_CUT_FACET="0x56Fe4addb8099868f6B087Ff7dDF120b88e53161"
# DIAMOND_LOUPE_FACET="0x42C91A2f0145b0962424f5086055b05c3fCAC373"
# DIAMOND_PROXY_FACET="0x9172B0Dd3a513E9A5eB9B0a1B6aE059E07e7C6AF"
# DIAMOND_OWNER_FACET="0x6a20c7b217B6C131F7952236878AC74b10fb7713"
# SUPPORTS_INTERFACE_FACET="0x232ad3F23d28DfA1af70C20012922195DC5be66d"
# DUMMY_INTERFACE_CONTRACT="0x5Cc64fE0484478974676ABf95EF7c72Ca3E22763"
# DEBUG_REGISTRY_DIAMOND="0x3996061C87A3Bd8e573251B6D773f36135731362"

# PRE-DEPLOYED FACETS - Arbitrum Sepolia chainId 421614
# DIAMOND_CUT_FACET="0x7e2765d3D9ed15E8745320b729c666dAE71a19bb"
# DIAMOND_LOUPE_FACET="0x2cA844b96c3Ef044C626d2D30b2FcbD675EA30DC"
# DIAMOND_PROXY_FACET="0xCe53e97461401D7c34a72b1555A4904Fb5c97e88"
# DIAMOND_OWNER_FACET="0x48420aeE07a3728ABF872958Dc011965E5B56291"
# SUPPORTS_INTERFACE_FACET="0x630457Db4D186df9A58b50070039e913df58aB04"
# DUMMY_INTERFACE_CONTRACT="0xAefB304AA342586DEC338a344AaDc21bc6468528"
# DEBUG_REGISTRY_DIAMOND="0xBbB91a7f9Cb606E42cD592af01F556C96f23175A"
